
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Estamos trabajando</h1>
            <p class="lead">Tan rápido como podemos para migrar el software de las asistentes aquí </p>
            <p><a ahref="http://informatica.gardilcic.cl/sigp/" class="btn btn-success" >Ir al antiguo sistema de asistente Social</a></p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Imagenes/EstamosTrabajando.png" />
        </div>

    </div>

</div>


