
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Estamos construyendo</h1>
            <p class="lead">Estamos generando la base de datos, si quieres ver el avance lo puedes obtener aquí </p>
            <p><a href="http://siga.gardilcic.cl/ArchivosUpload/RRHH/BASESIGA.xlsx" class="btn btn-success">Descargar</a></p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Imagenes/EstamosTrabajando.png"/>
        </div>

    </div>

</div>


