@model Entidades.Control.Turno

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h3>Seguro que desea borrar el registro?</h3>
<div>
    <h4>Turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-success" /> |
            @Html.ActionLink("Volver a Gestion", "Index")
        </div>
    }
</div>
